<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HYCarousel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BEB1C0C1CB2F940001AAECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BEB1C251CB2F941001AAECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BEB1C301CB2F941001AAECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
